/** CSS STYLE **/
@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  src: url(/src/fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}
@font-face {
  font-weight: 400;
  font-family: Neucha;
  src: url(/src/fonts/Neucha-Regular.ttf);
}

:root {
  --color-white: #fff;
  --color-white-semi: #d7ccc0;
  --color-light: #f5f4f0;
  --color-primary: #fe8a02;
  --color-primary-dark: #42413c;
  --color-dark: #2a2626;
  --color-dark-semi: #908d8b;
  --color-brown: #b09a81;
  --color-blue: #1085c5;
}


body {
font-family: 'Open Sans', sans-serif;
line-height: 1.6em;
font-size: 16px;
color: #2A2626;
}

h1,h2,h3 {
  line-height: 1.2em;
}
h1 {
  display: block;
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

section {
  height: 1110px;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

header ::before {
  display: flex;
  background-image: url(/img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 90%; 
}

header {
  background-color: var(--color-light);
}

.headerContent {
  display: flex;
}

.mainimg {
  display: block;
  height: 525px;
  margin-top: 55px;
  margin-right: -270px;
}