/** CSS STYLE **/
@font-face {
  font-weight: 400;
  font-family: 'Open Sans';
  src: url(/src/fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}
@font-face {
  font-weight: 400;
  font-family: Neucha;
  src: url(/src/fonts/Neucha-Regular.ttf);
}

:root {
  --color-white: #fff;
  --color-white-semi: #d7ccc0;
  --color-light: #f5f4f0;
  --color-primary: #fe8a02;
  --color-primary-dark: #42413c;
  --color-dark: #2a2626;
  --color-dark-semi: #908d8b;
  --color-brown: #b09a81;
  --color-blue: #1085c5;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6em;
  font-size: 16px;
  color: #2A2626;
  margin: 0;
}

h1, h2, h3 {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  font-family: Neucha, sans-serif;
  font-weight: 400;
  line-height: 1.2em;
  z-index: 300;
}

h1 {
  color: var(--color-primary);
  width: 100%;
  font-size: 72px;
}

h1>span {
color: var(--color-dark);
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

header, main, footer {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-items: center;
}

section {
  display: flex;
  width: 1110px;
}

p {
  display: block;
  width: 540px;
}

.bg-color-light {
background-color: var(--color-light);
}

.bg-image {
  margin: 0;
  padding: 0;
  position: relative;
}

.sc-pdng {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
}

.bg-image::before {
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  background-image: url(/src/img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
}

.headerContent {
  display: flex;
}

.mainimg {
  height: 525px;
  position: absolute;
  top: 55px;
  right: -270px;
}

.contentColumn {
  display: flex;
  column-gap: 30px;
}

button {
  border: 0;
  position: relative;
  margin-top: 40px;
  padding: 12px 24px;
  font-weight: bold;
  color: var(--color-white);
  background-color: var(--color-primary);
}