/** CSS STYLE **/
@font-face {
  font-weight: 400;
  font-family: 'Open Sans';
  src: url(/fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
  font-weight: 700;
  font-family: 'Open Sans';
  src: url(/fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
  font-weight: 400;
  font-family: Neucha;
  src: url(/fonts/Neucha-Regular.ttf);
}

* {
  box-sizing: border-box;
}

:root {
  --color-white: #fff;
  --color-white-semi: #d7ccc0;
  --color-light: #f5f4f0;
  --color-primary: #fe8a02;
  --color-primary-dark: #42413c;
  --color-dark: #2a2626;
  --color-dark-semi: #908d8b;
  --color-brown: #b09a81;
  --color-blue: #1085c5;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6em;
  font-size: 16px;
  color: #2A2626;
  margin: 0;
}

.navigation a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3 {
  display: block;
  position: relative;
  color: var(--color-dark);
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Neucha, sans-serif;
  font-weight: 400;
  line-height: 1.2em;
  z-index: 300;
}

h1 {
  font-size: 72px;
}

h1 > span,
h2 > span,
h3 > span {
color: var(--color-primary);
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

header, main, footer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

section {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-items: center;
  width: 1110px;
}

.bg-color-light {
background-color: var(--color-light);
width: 100%;
}

.bg-color-white {
  background-color: var(--color-white);
  width: 100%;

}

.bg-color-primdark {
  width: 100%;
  background-color: var(--color-primary-dark);
}

.bg-color-brown {
  width: 100%;
  background-color: var(--color-brown)
}

.bg-image {
  margin: 0;
  padding: 0;
  position: relative;
}

.sc-pdng {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
}

.bg-image::before {
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  background-image: url(/img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
}

.headerContent {
  display: flex;
}

.mainimg {
  height: 525px;
  position: absolute;
  top: 55px;
  right: -270px;
}

header .contentColumn {
  margin-top: 185px;
}

.contentColumn {
  display: flex;
  column-gap: 30px;
}

.contentColumn p {
  margin: 0;
  box-sizing: border-box;
  width: 50%;
}

button {
  border: 0;
  position: relative;
  margin-top: 40px;
  padding: 12px 24px;
  font-weight: bold;
  color: var(--color-white);
  background-color: var(--color-primary);
}

button:hover {
background-color: #EA7600;
}

.cntr-h {
  text-align: center;
}

.preview-image {
  text-align: center;
  width: 100%;
  display: block;
  margin-bottom: -200px;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
  z-index: 200;
}

.preview-image>a>img {
  position: relative;
  width: 919px; 
  height: 517px;
}

.preview-image-p {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.navigation {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding-top: 100px;
}

.nav-h2 {
  color: var(--color-white);
  font-weight: 400;
  font-size: 52px;
  text-align: left;
  line-height: 1.2;
}

.navigation h3 {
  line-height: 1.2;
  color: var(--color-primary);
}

.nav-p {
  line-height: 1.6;
}

.nav-num {
  width: 100%;
  padding-bottom: 40px;
  margin: 0;
  font-size: 64px;
  font-family: Neucha, sans-serif;
  line-height: 1;
}

.nav-block {
  padding: 24px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  background-color: var(--color-light);
  width: 100%;
  height: 100%;
}

.navigation a:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.navigation a:hover h3 {
  color: var(--color-white);
}

.ikea-effect {
  display: flex;
  column-gap: 30px;
}

.col-img-cont {
  font-family: Neucha, sans-serif;
  display: flex;
  column-gap: 30px;
  vertical-align: middle;
}
.col-img-cont img {
filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.col-img-cont h2 {
  text-align: left;
}

.col-img-cont-superscript {
  color: var(--color-dark-semi);
  font-size: 24px;
  margin: 0;
}

.col-img-cont-subscript {
  margin: 0;
  padding-top: 30px;
  text-align: left;
  font-size: 34px;
  line-height: 40.8px;
  color: var(--color-dark);
}

.col-img-cont-h3 {
  display: flex;
  text-align: left;
  margin-top: 100px;
  margin-bottom: 20px;
  vertical-align: middle;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  color: var(--color-white);
  text-transform: uppercase;
  font-family: Open Sans;
  font-weight: 700;
  font-size: 14px;
}

.premature-optimization {
  color: var(--color-white);
  display: flex;
  column-gap: 30px;
}

.col-img-cont-superscript-v2 {
  color: var(--color-white-semi);
  font-size: 24px;
  margin: 0;
}

.col-img-cont-subscript-v2 {
  margin: 0;
  padding-top: 30px;
  text-align: left;
  font-size: 34px;
  line-height: 40.8px;
  color: var(--color-white);
}
.col-img-cont-h2-v2 {
  text-align: left;
  color: var(--color-white);
}

.col-img-cont-h3-v2 {
  display: flex;
  text-align: left;
  margin-top: 100px;
  margin-bottom: 20px;
  vertical-align: middle;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  color: var(--color-brown);
  text-transform: uppercase;
  font-family: Open Sans;
  font-weight: 700;
  font-size: 14px;
}

.ftr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-primary-dark);
  width: 100%;
}

.ftr-h {
margin: 0;
color: var(--color-white);
font-family: Neucha;
font-weight: 400;
font-size: 34px;
line-height: 120%;
letter-spacing: 0%;
}

.ftr input {
  width: 423px;
  height: 50px;
  padding: 15px;
  border: 0;
}

.ftr button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: -13px;
  margin: 0;
  height: 50px;
  width: 70px;
}


.ftr-input-email {
  margin: 0;
  color: var(--color-white);
  font-size: 18px;
  line-height: 160%;
}

.ftr-input-sign {
  margin: 0;
  color: var(--color-white);
  font-size: 12px;
}

.ftr-input {
  width: 100%;
  display: flex;
}

.ftr-column-1 {
 display: flex;
 padding: 55px;
}

.ftr-column-2 {
 display: flex;
 flex-direction: column;
 padding-left: 55px;
 padding-right: 55px;
}

.ftr a {
  color: inherit;
}

.contact-info {
  margin-top: 60px;
  font-size: 14px;
  text-align: center;
}